:root {
  --TitleParbackground-color: rgb(45,72,99);
  --ATitleParbackground-color: rgb(45,72,99);
  --ButttonGradiantColor:linear-gradient(144deg,#d79eff, #bbb0ff 50%,#b7faff);
  --Apartment:white;
  --FontColor:blue;
  --ScrollThump:rgba(0,0,0,0.5);
  --ScrollTrack:rgba(0,0,0,0.3);
  --IconColor:white;
  --BodyBackground:white;
  --PreloaderBackground:black;
  --preloaderWave:linear-gradient(45deg, cyan, #fff);
  --effect: hover 1s linear infinite;
  --trensbefore:translateY(-28px) skewY(-20deg);
  --transafter:translate(7.5px,-28px) skewY(20deg);
  --yes:'Yes';
  --no:'No';
  /* --DarkTitleParbackground-color: #001830;
  --DarkButttonGradiantColor:linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
}
.jop{
  color: var(--TitleParbackground-color);
  font-weight: bold;

}
#team{
  color: var(--TitleParbackground-color);
  font-weight: bold;
}
body{
  display: flex;
  /* justify-content: center; */
  background-color: var(--BodyBackground);
  flex-direction: column;
  align-items: center;
  /* align-items: stretch; */
  /* justify-content: center */
}
/* document.body.style.flexDirection = "column";
      // document.body.style.alignItems = "center";
      // document.body.style.justifyContent= "center"; */
a.mapboxgl-ctrl-logo{
  display: none;
}
#TitlePar{
  width: 100%;
  
  /* height: 50%; */
  /* padding: 10px 0px; */
  padding: 6px 0px 0px;
  height: auto;
  background-color: var(--TitleParbackground-color);
  color: white;
  /* overflow: hidden; */
  justify-content: space-between;
  align-items: center;
  z-index: 97;
}
#map{
  /* height: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /* margin-top: 70px; */

}
/* .mapboxgl-ctrl{
  display: none !important;
} */

 #div {
   position: absolute;
   /* display: none; */
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 12%;
   /* top: 15%; */
   /*left: 521px; */
   background: var(--Apartment);
   width: 0px;
   height: 0px;
   border-radius: 15px;
   /* z-index: 500 !important; */
   z-index:2;
   overflow: scroll;
    }

    #div::-webkit-scrollbar {
      display: none;
    }

    #divPar {
      position: absolute;
      /* display: none; */
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 12%;
      /* top: 15%; */
      /*left: 521px; */
      background: var(--Apartment);
      width: 0px;
      height: 0px;
      border-radius: 15px;
      /* z-index: 500 !important; */
      z-index:2;
      overflow: scroll;
       }
   
       #divPar::-webkit-scrollbar {
         display: none;
       }

  .mapboxgl-popup {
    max-width: 200px;
    }

#addresss,#pricee,#roomss{
/* width: 200px; */
/* border: 1px solid; */
width: 0px;
padding: 2px 5px;

/* Both of the following are required for text-overflow */
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
#emaill,#phonenumm{
  /* width: 200px; */
  /* border: 1px solid; */
  width: 220px;
  /* padding: 2px 5px; */
  
  /* Both of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

#ApartmentTitlePar{
  width: 100%;
  /* padding-right:42%; */
  padding: 1%;
  background-color: var(--ATitleParbackground-color);
  color: white;
  /* overflow: hidden; */
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#ApartmentBody{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  overflow: scroll;
}

#ApartmentBody::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#ApartmentBody {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#ApartmentData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#ApartmentImages{
  overflow: auto;
}
#ApartmentImages::-webkit-scrollbar {
  width: 12px;
}
#ApartmentImages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--ScrollTrack); 
  border-radius: 10px;
}
#ApartmentImages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--ScrollThump); 
}

#XBTN{
background-color: transparent;
color: white;
font-size: 30px;
border: 0px;
width: 40px;
height: 40px;
overflow: hidden;
margin: 5px;
border-radius: 15px;
vertical-align: middle;
}
#XBTN:hover{
  background-color: cyan;
}



#ApartmentTitleParPar{
  width: 100%;
  /* padding-right:42%; */
  padding: 1%;
  background-color: var(--ATitleParbackground-color);
  color: white;
  /* overflow: hidden; */
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}
#ApartmentBodyPar{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  overflow: scroll;
}

#ApartmentBodyPar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#ApartmentBodyPar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#ApartmentDataPar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#ApartmentImagesPar{
  overflow: auto;
}
#ApartmentImagesPar::-webkit-scrollbar {
  width: 12px;
}
#ApartmentImagesPar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--ScrollTrack); 
  border-radius: 10px;
}
#ApartmentImages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--ScrollThump); 
}

#XBTNPar{
background-color: transparent;
color: white;
font-size: 30px;
border: 0px;
width: 40px;
height: 40px;
overflow: hidden;
margin: 5px;
border-radius: 15px;
vertical-align: middle;
}
#XBTNPar:hover{
  background-color: cyan;
}

#mineornote{
  display: flex;
  justify-content: center;
  color: var(--FontColor);
  /* font-size: xx-large; */
}
/* ====================================================================================== */

#btn {
  align-items: center;
  background-image: var(--ButttonGradiantColor);
  border: 0;
  border-radius: 100px;
  /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
  /* box-sizing: border-box; */
  color: #FFFFFF;
  /* display: flex; */
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  /* line-height: 1em; */
  /* max-width: 100%; */
  /* min-width: 140px; */
  padding: 19px 24px;
  text-decoration: none;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  white-space: nowrap;
  cursor: pointer;
  transition: transform .3s;
}

#btn:active,
#btn:hover {
  /* outline: 0; */
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

/* @media (min-width: 768px) {
  #btn {
    font-size: 24px;
    min-width: 196px;
  }
} */

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.2s, opacity 300ms;
}

p,label{
  color: var(--FontColor);
}
fieldset{
  display: flex;
  align-items: center;
  color: var(--FontColor);
  border-color: blue;
  margin: 20px 0px 0px;
  padding: 1%;
  border-radius: 10px ;
}
legend {
  font: 15pt/0 'Averia Serif Libre'; 
  margin-left: 4%; /* to center */
  padding: 0 4px; 
  margin-right: 4%;
}
#UserName{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 500;
  width: auto;
}

/* .fas,.fa,.fa-x,.fa-bath,.fa-gas-pump,.fa-couch{
color: var(--IconColor);
} */

.fa-bath,.fa-gas-pump,.fa-couch,#gass,#furnishedd{
  color: var(--IconColor);
  }
  
  .fa-x{
    color: white;
  }


#PreLoader{
  display: flex;
  text-align: center;
  background-size: 15%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  /* background-color: var(--PreloaderBackground); */
  background-color:black;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: none; */
  }




.p{
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(.5);
  color: #ffffff;
  -webkit-text-stroke: 2px gray;


  /* text-transform: uppercase;
  text-align: center;
  transform: scale(.5); */
  
}

.p:nth-child(1) {
  animation: var(--effect);
}

.p:nth-child(2) {
  animation: var(--effect) .125s;
}

.p:nth-child(3) {
  animation: var(--effect) .25s;
}

.p:nth-child(4) {
  animation: var(--effect) .375s;
}

.p:nth-child(5) {
  animation: var(--effect) .5s;
}

.p:nth-child(6) {
  animation: var(--effect) .675s;
}

.p:nth-child(7) {
  animation: var(--effect) .75s;
}

@keyframes hover {
  0% {
    transform: scale(.5);
    color: #ffffff;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    /* color: ; */
    color: blue;
    -webkit-text-stroke: 3px rgb(85, 105, 255);
    /* filter: drop-shadow(0 0 1px rgb(255, 255, 255))drop-shadow(0 0 1px rgb(255, 255, 255))drop-shadow(0 0 3px rgb(0, 34, 255))drop-shadow(0 0 5px rgb(51, 0, 255))hue-rotate(10turn); */
  }

  50% {
    transform: scale(.5);
    color: #ffffff;
    -webkit-text-stroke: 2px gray;
  }


}

#menuandprofile{
  display: flex;
  justify-content: space-between;
  width: 7%;
  margin-bottom: 10px;
}

#aboutbody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
}
#icons{
  /* display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-evenly; */
  padding: 0px 5px;
  display: grid;
  grid-template-columns: 40px auto auto;
  column-gap: 5px;
}
#gasdiv{width: 40%;}
  #furnisheddiv{width: 40%;}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  #menuandprofile{width: 26%;}
  .wrapper ul li a{font-size: 22px;}
  #aboutbody{padding: 10%;}
  #gasdiv{width: 60%;}
  #furnisheddiv{width: 60%;}
  /* #div{position: absolute;top: 25%;} */
  /* #icons{width: 32%;} */
  div.box-content{height: 45vh;}
}
@media screen and (max-width: 700px) and (orientation: landscape) {
  #menuandprofile{width: 14%;}
  .wrapper ul li a{font-size: 22px;}
  #aboutbody{padding: 4%;}
  /* #div{position: absolute;top: 25%;} */
  #div{position: absolute;top: 20%;}
  #divPar{position: absolute;top: 20%;}
}

   

/****************************************************************************************************/

/* Basics */
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}

    .mapboxgl-ctrl-geocoder {
      font-size: 18px;
      line-height: 24px;
      font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
      position: relative;
      background-color: #fff;
      width: 100%;
      min-width: 30px;
      z-index: 1;
      border-radius: 4px;
      transition: width .25s, min-width .25s;
    }
    .mapboxgl-ctrl-geocoder:hover{
      min-width: 240px;
    }
    .mapboxgl-ctrl-geocoder:focus-within{
      min-width: 240px;
    }
    
    .mapboxgl-ctrl-geocoder--input {
      font: inherit;
      width: 100%;
      border: 0;
      background-color: transparent;
      margin: 0;
      height: 36px;
      color: #404040; /* fallback */
      color: rgba(0, 0, 0, 0.75);
      padding: 6px 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    
    .mapboxgl-ctrl-geocoder--input::-ms-clear {
      display: none; /* hide input clear button in IE */
    }
    
    .mapboxgl-ctrl-geocoder--input:focus {
      color: #404040; /* fallback */
      color: rgba(0, 0, 0, 0.75);
      outline: 0;
      box-shadow: none;
      outline: thin dotted;
    }
    
    .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
      z-index: 2;
      position: absolute;
      right: 8px;
      top: 7px;
      display: none;
    }
    
    .mapboxgl-ctrl-geocoder,
    .mapboxgl-ctrl-geocoder .suggestions {
      box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    }
    
    /* Collapsed */
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
      width: 50px;
      min-width: 50px;
      transition: width .25s, min-width .25s;
    }
    
    /* Suggestions */
    .mapboxgl-ctrl-geocoder .suggestions {
      background-color: #fff;
      border-radius: 4px;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      top: 110%; /* fallback */
      top: calc(100% + 6px);
      z-index: 1000;
      overflow: hidden;
      font-size: 15px;
    }
    
    .mapboxgl-ctrl-bottom-left .suggestions,
    .mapboxgl-ctrl-bottom-right .suggestions {
      top: auto;
      bottom: 100%;
    }
    
    .mapboxgl-ctrl-geocoder .suggestions > li > a {
      cursor: default;
      display: block;
      padding: 6px 12px;
      color: #404040;
    }
    
    .mapboxgl-ctrl-geocoder .suggestions > .active > a,
    .mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
      color: #2c2c2c;
      background-color: #f3f3f3;
      text-decoration: none;
      cursor: pointer;
    }
    
    .mapboxgl-ctrl-geocoder--suggestion-title {
      font-weight: bold;
    }
    
    .mapboxgl-ctrl-geocoder--suggestion-title,
    .mapboxgl-ctrl-geocoder--suggestion-address {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    /* Icons */
    .mapboxgl-ctrl-geocoder--icon {
      display: inline-block;
      vertical-align: middle;
      /* fill: #757575; */
      top: 15px;
    }
    
    .mapboxgl-ctrl-geocoder--icon-search {
      position: absolute;
      top: 17%;
      /* left: 13%; */
      left: 4%;
      width: 23px;
      height: 23px;
    }
    
    .mapboxgl-ctrl-geocoder--button {
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;
      background: #fff;
      line-height: 1;
    }
    
    .mapboxgl-ctrl-geocoder--icon-close {
      width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: -4px;

    }
    
    .mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
      fill: #424242;
    }
    
    .mapboxgl-ctrl-geocoder--icon-loading {
      width: 26px;
      height: 26px;
      margin-top: 5px;
      margin-right: 0px;
      -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
      -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
      animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    
    /* Animation */
    @-webkit-keyframes rotate {
      from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
    @keyframes rotate {
      from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
    /* Media queries*/
    @media screen and (min-width: 640px) {
    
      .mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
        width: 36px;
        min-width: 36px;
      }
    
      .mapboxgl-ctrl-geocoder {
        width: 33.3333%;
        font-size: 15px;
        line-height: 20px;
        max-width: 360px;
      }
      .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 13px;
      }
    
      .mapboxgl-ctrl-geocoder--icon {
        top: 8px;
      }
    
      .mapboxgl-ctrl-geocoder--icon-close {
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-right: 0;
      }
    
      .mapboxgl-ctrl-geocoder--icon-search {
        left: 7px;
        width: 17px;
        height: 20px;
      }
    
      .mapboxgl-ctrl-geocoder--input {
        height: 36px;
        padding: 6px 35px;
      }
    
      .mapboxgl-ctrl-geocoder--icon-loading {
        width: 26px;
        height: 26px;
        margin-top: -2px;
        margin-right: -5px;
      }
    
      .mapbox-gl-geocoder--error{
        color:#909090;
        padding: 6px 12px;
        font-size: 16px;
        text-align: center
      }
    
    }
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl{
      margin: 10px 20px 0 0;
    }

    /****************************************************************************************************/



    /* /////////////////////////loocation ///////////////////////////*/
    /* .mapboxgl-ctrl-bottom-right {
      bottom: 33px;
      right: 0;
  } */

  .mapboxgl-ctrl-top-right {
    right: 0;
    top: 70px;
}



#instructions {
  position: absolute;
  /* margin: 20px; */
  padding: 20px;
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--FontColor);
  overflow-y: scroll;
  font-family: sans-serif;
  display: none;
}
#instructions::-webkit-scrollbar {
  width: 12px;
}
#instructions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--ScrollTrack); 
  border-radius: 10px;
}
#instructions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--ScrollThump); 
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  width: 0%;
}

/* .mapboxgl-ctrl-top-right{
  top: 70px;
  left: 20px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  width: auto;
} */

.mapboxgl-ctrl-bottom-right {
  bottom: 0;
  right: 10px;
}


.mapboxgl-ctrl-bottom-left{
  
left: -100px;}

/* .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
width: 0%;}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
} */
.mapboxgl-ctrl-top-left {
  top: 70px;
}


.title{
  color: white;
}

body::-webkit-scrollbar {
  /* width: 12px; */
  display: none;

}
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px var(--ScrollTrack);  */
  /* border-radius: 10px;
  margin-top: 80px; */

}
body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  /* -webkit-box-shadow: inset 0 0 6px var(--ScrollThump);  */
}



/* input.middle:focus {
  outline-width: 0;
} */

input:focus {
  outline: none;
  color: var(--FontColor);
}
input {
  outline: none;
  color: var(--FontColor);
}


/* .mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:before{
transform: var(--trensbefore);
direction: ltr;
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:after{
transform: var(--transafter);
direction: ltr;
} */

.mapboxgl-ctrl-attrib.mapboxgl-compact{
  display: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib{
  display: none;
}




.fa-bell:hover{
  color: blue;
  cursor: pointer;

}
/* .fa-coins:hover{
  color: blue;
  cursor: pointer;

} */
.fa-bars:hover{
  color: blue;
  cursor: pointer;

}
.fa-x:hover{
  color: blue;
  cursor: pointer;

}
div.box {
  position: fixed;
  width: 210px;  /* <---------------------------------------- optional */
  width: auto;
  top: 80px;
  /* right: 50px; */
  background-color: var(--ATitleParbackground-color);
  z-index: 10;
  display: none;

}

div.box-arrow-border {
  position: absolute;
  top: -9px; 
  /* right: 33px; */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  width: 0; height: 0;
}

div.box-arrow-background {
  position: absolute;
  left: -10px; top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--ATitleParbackground-color);
  width: 0; height: 0;
}

div.box-content {
  padding: 10px;  /* <--------------------------------------- optional */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;  /* <------------------------------ optional */
  box-shadow: 0 1px 3px rgba(200, 200, 200, 0.7);  /* <------ optional */
  overflow: hidden;  /* <------------------------------------ optional */
  display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    height: 38vh;
}



/* ////////////////////////////////////////////////////////////////filter slider//////////////////////////////////////////////////////////////// */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px; */
  /* background: url(../imgs/dollar.svg) #75b4c3; */
  /* background:#75b4c3; */
  /* cursor: pointer; */
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 2px 10px -2px black(1);
  position: relative;
  z-index: 2;
  box-shadow: 1.1px 1.1px 6.8px rgba(0, 0, 0, 0), 0px 0px 1.1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  /* background: url(../imgs/dollar.svg) #75b4c3; */
  /* background-size: 43%;
  background-position: center;
  background-repeat: no-repeat; */
}
#Slider_Price::-webkit-slider-thumb{
  background: url(../imgs/dollar.svg) #75b4c3;
  background-size: 43%;
  background-position: center;
  background-repeat: no-repeat;
}
#Slider_room::-webkit-slider-thumb{
  background: url(../imgs/rooms.svg) #75b4c3;
  background-size: 43%;
  background-position: center;
  background-repeat: no-repeat;
}
#Slider_bathroom::-webkit-slider-thumb{
  background: url(../imgs/bath2.svg) #75b4c3;
  background-size: 43%;
  background-position: center;
  background-repeat: no-repeat;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}




.centerr {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--PreloaderBackground);
  z-index: 96;
}
.wave {
  width: 5px;
  /* height: 100px; */
  background: var(--preloaderWave);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    /* transform: scale(0); */
    height: 0px;
  }
  50% {
    /* transform: scale(1); */
    height: 100px;
  }
  100% {
    /* transform: scale(0); */
    height: 0px;
  }
}

/* 
.centerrr {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 96;
}
.wavee {
  width: 5px;
  background: var(--preloaderWave);
  margin: 1px;
  animation: wavee 1s linear infinite;
  border-radius: 20px;
}
.wavee:nth-child(2) {
  animation-delay: 0.1s;
}
.wavee:nth-child(3) {
  animation-delay: 0.2s;
}
.wavee:nth-child(4) {
  animation-delay: 0.3s;
}
.wavee:nth-child(5) {
  animation-delay: 0.4s;
}
.wavee:nth-child(6) {
  animation-delay: 0.5s;
}
.wavee:nth-child(7) {
  animation-delay: 0.6s;
}
.wavee:nth-child(8) {
  animation-delay: 0.7s;
}
.wavee:nth-child(9) {
  animation-delay: 0.8s;
}
.wavee:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wavee {
  0% {
    height: 0px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 0px;
  }
} */



#loader {
  /* position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; */
  width: 50px;
    height: 50px;
    margin: 0px 0 0 0px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* margin: 50%; */
}
#loaderr {
  /* position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; */
  width: 50px;
    height: 50px;
    margin: 0px 0 0 0px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* margin: 50%; */
    position: absolute;
    top: 50%;
}
.loaderrr {
  /* position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; */
  width: 50px;
    height: 50px;
    margin: 0px 0 0 0px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* margin: 50%; */
    position: absolute;
    top: 40%;
    right: 40%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #526DA1;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}


/*--------------------------------------------------------------
3.0 Effects Styles 
--------------------------------------------------------------*/
 

.toggler-wrapper.style-28 {
  width: 54px;
  height: 30px;
}

.toggler-wrapper.style-28 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:before {
  top: -100%;
}

.toggler-wrapper.style-28 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:after {
  top: 3px;
}

.toggler-wrapper.style-28 .toggler-knob {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.toggler-wrapper.style-28 .toggler-knob:before {
  content:  attr(no);
  color: var(--FontColor);
  position: absolute;
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: black;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 75%;
  font-weight: 500;
}

.toggler-wrapper.style-28 .toggler-knob:after {
  content:  attr(yes);
  color: var(--FontColor);
  position: absolute;
  width: calc(30px - 6px);
  height: calc(30px - 6px);
  border-radius: 50%;
  right: 3px;
  top: -100%;
  background-color: black;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 75%;
  font-weight: 500;
}
.sldiv0{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.sldiv{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.sl{
  /* display: flex; */
  padding-bottom: 5%;
  /* align-items: center; */
}
.slt{
  display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 0% 2%;
    font-size: large;
}

#lang{
  padding: 5px;
    /* color: var(--FontColor);
    background-color: var(--Apartment); */
    color: white;
    background-color: #526DA1;
    border: 0px;
    border-radius: 10px;
width: auto;

}
.image{
  width: 100%;
  position: relative;
}


#selectedimages{
  overflow: auto;
}
#selectedimages::-webkit-scrollbar {
  width: 12px;
}
#selectedimages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--ScrollTrack); 
  border-radius: 10px;
}
#selectedimages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--ScrollThump); 
}
/* #SAMSARLYLOGOo{
  
} */
/* #SAMSARLYLOGOo{
  
  
}

@keyframes rotatee {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
} */
 
/*

#inner_tokens:hover{
  color: blue;
  cursor: pointer;

} */

/* #inner_tokens:hover{
  
  color: blue;
  cursor: pointer;

} */
#token:hover *{
  
  color: blue;
  cursor: pointer;

}


.phone{
  display: none;
}
.rev{
  width: 100%;
  transition : "all 0.5s"
}
.sav{
  width: 0%;
  /* transition : "all 0.5s"; */
  display: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#dp{
  padding: 1%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  background-color: var(--dp);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#state{
  color: var(--FontColor);
}

/* .div.box-content{
  height: 38vh;

}
*/
/* div.box-content>*{
display: none;
}  */

/* padding: 19px 24px; */
.pay{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  background-color: var(--ATitleParbackground-color);
  padding: 10px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
.pay:hover{
  border: 2px solid rgb(0, 0, 0);
  /* scale: ; */
}
.mpay{
display: flex;
width: 50%;
height: 50vh;
position: relative;
top: 10vh;
flex-direction: column;
justify-content: space-between;
}