:root {
--cp:circle(0px at calc(0% + 30px) 30px);
--cp2:circle(75%);
--menu:white
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  clip-path: var(--cp);
  background: var(--menu);
  /* clip-path: circle(25px at calc(100% - 45px) 45px); */
  transition: all 0.3s ease-in-out;
  z-index: 98;
}
#active:checked ~ .wrapper{
  clip-path: var(--cp2);
  
}
.menu-btn{
  /* position: absolute; */
  z-index: 99;
  /* right: 20px; */
  /* left: 15px;
  top: 5px; */
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  /* background: rgb(0, 0, 0); */
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
  /* position: fixed; */
  animation: mymove 0.5s;
  /* clip-path: circle(0%);; */
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
  
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
  /* جديد */
  display: flex;
  justify-content: center;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: var(--menu);
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
/* @keyframes mymove {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
} */
@keyframes mymove {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  
  .wrapper ul li a{font-size: 22px;}
}
@media screen and (max-width: 700px) and (orientation: landscape) {
  /* .wrapper ul{top: 74%;} */
  .wrapper ul{top: 100%;}
}


/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.boxx form .input{
  color: var(--menu);
}
.sign-container form input {
  color: var(--menu);
}
.newinput{
  color: var(--menu);
}
.newinput:focus{
  color: var(--menu);
}